# Bank Churn Prediction

# Objective:
Given a Bank customer, build a neural network based classifier that can determine whether they will leave or not in the next 6 months.

Context:
Businesses like banks which provide service have to worry about problem of 'Churn' i.e. customers leaving and joining another service provider. It is important to understand which aspects of the service influence a customer's decision in this regard. Management can concentrate efforts on improvement of service, keeping in mind these priorities.

Data Description:
The case study is from an open-source dataset from Kaggle.
The dataset contains 10,000 sample points with 14 distinct features such as CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance etc.
Link to the Kaggle project site: https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Points Distribution:
The points distribution for this case is as follows:
1. Read the dataset
2. Drop the columns which are unique for all users like IDs (5 points)
3. Distinguish the features and target variable (5 points)
4. Divide the data set into training and test sets (5 points)
5. Normalize the train and test data (10 points)
6. Initialize & build the model. Identify the points of improvement and implement the same.(20)
7. Predict the results using 0.5 as a threshold (10 points)
8. Print the Accuracy score and confusion matrix (5 points)

In [1]:
!pip install tensorflow==2.0

Collecting tensorflow==2.0
  Downloading https://files.pythonhosted.org/packages/54/5f/e1b2d83b808f978f51b7ce109315154da3a3d4151aa59686002681f2e109/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl (48.1MB)
Collecting gast==0.2.2 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Collecting keras-applications>=1.0.8 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
Collecting protobuf>=3.6.1 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/d2/e8/2510f78a3759e8e8ac5f433fa10a0f582ee13932e3a5e07b9a5067b00dfd/protobuf-3.12.4-cp37-cp37m-win_amd64.whl (1.0MB)
Collecting grpcio>=1.8.6 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/e4/23/15fe2dff7163f3191d4d74eaddbd3e241dea185e96447b1920685235560c/grpcio-1.31.0-cp37-cp37m-win_amd64.whl (2.4MB)
Requirement already satisfied: wheel>=0.26 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==2.0) (0.33.6)
Collecting astor>=0.6.0 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/c3/88/97eef84f48fa04fbd6750e62dcceafba6c63c81b7ac1420856c8dcc0a3f9/astor-0.8.1-py2.py3-none-any.whl
Collecting tensorboard<2.1.0,>=2.0.0 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
Collecting google-pasta>=0.1.6 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/a3/de/c648ef6835192e6e2cc03f40b19eeda4382c49b5bafb43d88b931c4c74ac/google_pasta-0.2.0-py3-none-any.whl (57kB)
Collecting absl-py>=0.7.0 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/1a/53/9243c600e047bd4c3df9e69cfabc1e8004a82cac2e0c484580a78a94ba2a/absl-py-0.9.0.tar.gz (104kB)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==2.0) (1.16.5)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==2.0) (1.12.0)
Collecting tensorflow-estimator<2.1.0,>=2.0.0 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
Collecting termcolor>=1.1.0 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/8a/48/a76be51647d0eb9f10e2a4511bf3ffb8cc1e6b14e9e4fab46173aa79f981/termcolor-1.1.0.tar.gz
Requirement already satisfied: wrapt>=1.11.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==2.0) (1.11.2)
Collecting opt-einsum>=2.3.2 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/bc/19/404708a7e54ad2798907210462fd950c3442ea51acc8790f3da48d2bee8b/opt_einsum-3.3.0-py3-none-any.whl (65kB)
Collecting keras-preprocessing>=1.0.5 (from tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/79/4c/7c3275a01e12ef9368a892926ab932b33bb13d55794881e3573482b378a7/Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42kB)
Requirement already satisfied: h5py in c:\programdata\anaconda3\lib\site-packages (from keras-applications>=1.0.8->tensorflow==2.0) (2.9.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.6.1->tensorflow==2.0) (41.4.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.22.0)
Collecting google-auth<2,>=1.6.3 (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/0f/79/4c59796bb02535aee5e5d2e2c5e16008aaf48903c2ec2ff566a2774bb3e0/google_auth-1.20.1-py2.py3-none-any.whl (91kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.16.0)
Collecting google-auth-oauthlib<0.5,>=0.4.1 (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/7b/b8/88def36e74bee9fce511c9519571f4e485e890093ab7442284f4ffaef60b/google_auth_oauthlib-0.4.1-py2.py3-none-any.whl
Collecting markdown>=2.6.8 (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/a4/63/eaec2bd025ab48c754b55e8819af0f6a69e2b1e187611dd40cbbe101ee7f/Markdown-3.2.2-py3-none-any.whl (88kB)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.4)
Collecting cachetools<5.0,>=2.0.0 (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/cd/5c/f3aa86b6d5482f3051b433c7616668a9b96fbe49a622210e2c9781938a5c/cachetools-4.1.1-py3-none-any.whl
Collecting rsa<5,>=3.1.4; python_version >= "3.5" (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/1c/df/c3587a667d6b308fadc90b99e8bc8774788d033efcc70f4ecaae7fad144b/rsa-4.6-py3-none-any.whl (47kB)
Collecting pyasn1-modules>=0.2.1 (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/95/de/214830a981892a3e286c3794f41ae67a4495df1108c3da8a9f62159b9a9d/pyasn1_modules-0.2.8-py2.py3-none-any.whl (155kB)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/a3/12/b92740d845ab62ea4edf04d2f4164d82532b5a0b03836d4d4e71c6f3d379/requests_oauthlib-1.3.0-py2.py3-none-any.whl
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\programdata\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.23)
Collecting pyasn1>=0.1.3 (from rsa<5,>=3.1.4; python_version >= "3.5"->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/62/1e/a94a8d635fa3ce4cfc7f506003548d0a2447ae76fd5ca53932970fe3053f/pyasn1-0.4.8-py2.py3-none-any.whl (77kB)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0)
  Downloading https://files.pythonhosted.org/packages/05/57/ce2e7a8fa7c0afb54a0581b14a65b56e62b5759dbc98e80627142b8a3704/oauthlib-3.1.0-py2.py3-none-any.whl (147kB)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.6.0)
Requirement already satisfied: more-itertools in c:\programdata\anaconda3\lib\site-packages (from zipp>=0.5->importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (7.2.0)
Building wheels for collected packages: gast, absl-py, termcolor
  Building wheel for gast (setup.py): started
  Building wheel for gast (setup.py): finished with status 'done'
  Created wheel for gast: filename=gast-0.2.2-cp37-none-any.whl size=7546 sha256=a3806c17731bf6474a650e6bf9ae391e0bba33084f259842d57959bbae2ba025
  Stored in directory: C:\Users\user\AppData\Local\pip\Cache\wheels\5c\2e\7e\a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
  Building wheel for absl-py (setup.py): started
  Building wheel for absl-py (setup.py): finished with status 'done'
  Created wheel for absl-py: filename=absl_py-0.9.0-cp37-none-any.whl size=121936 sha256=623ca92f95d3ad72bf1ce14e334e04f1e5423cd33f96819a034553a8be103d3e
  Stored in directory: C:\Users\user\AppData\Local\pip\Cache\wheels\8e\28\49\fad4e7f0b9a1227708cbbee4487ac8558a7334849cb81c813d
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-cp37-none-any.whl size=4835 sha256=b43536390c2f1ad431555d55ea870b74989a47d2017793175f1e409c3c8bf0af
  Stored in directory: C:\Users\user\AppData\Local\pip\Cache\wheels\7c\06\54\bc84598ba1daf8f970247f550b175aaaee85f68b4b0c5ab2c6
Successfully built gast absl-py termcolor
Installing collected packages: gast, keras-applications, protobuf, grpcio, astor, cachetools, pyasn1, rsa, pyasn1-modules, google-auth, absl-py, oauthlib, requests-oauthlib, google-auth-oauthlib, markdown, tensorboard, google-pasta, tensorflow-estimator, termcolor, opt-einsum, keras-preprocessing, tensorflow
Successfully installed absl-py-0.9.0 astor-0.8.1 cachetools-4.1.1 gast-0.2.2 google-auth-1.20.1 google-auth-oauthlib-0.4.1 google-pasta-0.2.0 grpcio-1.31.0 keras-applications-1.0.8 keras-preprocessing-1.1.2 markdown-3.2.2 oauthlib-3.1.0 opt-einsum-3.3.0 protobuf-3.12.4 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.6 tensorboard-2.0.2 tensorflow-2.0.0 tensorflow-estimator-2.0.1 termcolor-1.1.0

In [2]:
#import key libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt # this is for visualization
import seaborn as sns # for visualization
%matplotlib inline
import statsmodels.api as sm

In [3]:
import tensorflow as tf

# Step 1
Read the dataset & drop the columns which are unique for all users like IDs

In [5]:
df = pd.read_csv('bank.csv')

In [6]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [8]:
df.shape

(10000, 14)

In [9]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
#Number of unique in each column?
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [11]:
df.drop(columns = {'RowNumber', 'CustomerId', 'Surname'}, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [18]:
#one hot encoding for the Geography and Gender columns

df1 = pd.get_dummies(df, columns=['Geography', 'Gender'])

In [20]:
# no need to keep both male and female columns as both are highly correlated. dropping male column.
df1.drop(columns = {'Gender_Male'}, inplace=True)

In [23]:
df1.head(10)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1
5,645,44,8,113755.78,2,1,0,149756.71,1,0,0,1,0
6,822,50,7,0.00,2,1,1,10062.80,0,1,0,0,0
7,376,29,4,115046.74,4,1,0,119346.88,1,0,1,0,1
8,501,44,4,142051.07,2,0,1,74940.50,0,1,0,0,0
9,684,27,2,134603.88,1,1,1,71725.73,0,1,0,0,0

In [26]:
df1 = df1 [['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France', 'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Exited']]

In [27]:
df1.head(10)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Exited
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,1
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,0,1,0,1
6,822,50,7,0.00,2,1,1,10062.80,1,0,0,0,0
7,376,29,4,115046.74,4,1,0,119346.88,0,1,0,1,1
8,501,44,4,142051.07,2,0,1,74940.50,1,0,0,0,0
9,684,27,2,134603.88,1,1,1,71725.73,1,0,0,0,0

# Step 2
Distinguish the features and target variable.

In [28]:
# Import `train_test_split` from `sklearn.model_selection`
from sklearn.model_selection import train_test_split

In [30]:
# Specify the features and target variables data 
X=df1.iloc[:,0:11]

# Specify the target labels and flatten array
y= df1.Exited

# Step 3
Divide the data set into training and test sets.

In [323]:
# Split the data up in train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

y_train =  np.array(y_train)
y_test =  np.array(y_test)

# Step 4
Normalize the train and test data.

In [324]:
from sklearn.preprocessing import StandardScaler

# Define the scaler 
scaler = StandardScaler().fit(X_train)

# Scale the train set
X_train = scaler.transform(X_train)

# Scale the test set
X_test = scaler.transform(X_test)

# Step 5
Initialize & build the model. Identify the points of improvement and implement the same.

In [325]:
# Using Tensorflow Keras instead of the original Keras

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras import optimizers

In [326]:
import matplotlib.pyplot as plt

In [327]:

# Initialize the constructor
model = Sequential()

In [332]:
# Add an first hidden layer 
model.add(Dense(100, activation='relu', kernel_initializer='normal'))

model.add(Dense(1))

In [333]:
sgd = optimizers.Adam(lr = 0.001)

In [334]:
model.compile(loss='binary_crossentropy',optimizer= 'RMSprop' ,metrics=['accuracy'])

In [335]:
model.fit(X_train, y_train, epochs=20, batch_size=200, verbose=1)

Train on 7000 samples
Epoch 1/20
7000/7000 [==============================] - 1s 127us/sample - loss: 0.5258 - accuracy: 0.7924
Epoch 2/20
7000/7000 [==============================] - 0s 33us/sample - loss: 0.4251 - accuracy: 0.8023
Epoch 3/20
7000/7000 [==============================] - 0s 35us/sample - loss: 0.3870 - accuracy: 0.8383
Epoch 4/20
7000/7000 [==============================] - 0s 35us/sample - loss: 0.3596 - accuracy: 0.8521
Epoch 5/20
7000/7000 [==============================] - 0s 35us/sample - loss: 0.3528 - accuracy: 0.8540
Epoch 6/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3479 - accuracy: 0.8576
Epoch 7/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3447 - accuracy: 0.8611
Epoch 8/20
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3448 - accuracy: 0.8596
Epoch 9/20
7000/7000 [==============================] - 0s 34us/sample - loss: 0.3396 - accuracy: 0.8621
Epoch 10/20
7000/7000 [==============================] - 0s 35us/sample - loss: 0.3390 - accuracy: 0.8603
Epoch 11/20
7000/7000 [==============================] - 0s 37us/sample - loss: 0.3359 - accuracy: 0.8609
Epoch 12/20
7000/7000 [==============================] - 0s 49us/sample - loss: 0.3378 - accuracy: 0.8631
Epoch 13/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3421 - accuracy: 0.8640
Epoch 14/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3405 - accuracy: 0.8613
Epoch 15/20
7000/7000 [==============================] - 0s 37us/sample - loss: 0.3284 - accuracy: 0.8620
Epoch 16/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3321 - accuracy: 0.8639
Epoch 17/20
7000/7000 [==============================] - 0s 37us/sample - loss: 0.3303 - accuracy: 0.8667
Epoch 18/20
7000/7000 [==============================] - 0s 37us/sample - loss: 0.3293 - accuracy: 0.8639
Epoch 19/20
7000/7000 [==============================] - 0s 37us/sample - loss: 0.3274 - accuracy: 0.8653
Epoch 20/20
7000/7000 [==============================] - 0s 38us/sample - loss: 0.3282 - accuracy: 0.8664

In [336]:
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy: %.3f'  % acc)
print('Loss: %.3f' % loss)

Accuracy: 0.870
Loss: 0.360

In [337]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_97 (Dense)             multiple                  9408
_________________________________________________________________
dense_98 (Dense)             multiple                  78500
_________________________________________________________________
dense_99 (Dense)             multiple                  1010
_________________________________________________________________
dense_100 (Dense)            multiple                  1100
_________________________________________________________________
dense_101 (Dense)            multiple                  101
=================================================================
Total params: 90,119
Trainable params: 90,119
Non-trainable params: 0
_________________________________________________________________

# Step 6
Predict the results using 0.5 as a threshold

In [367]:
y_predict = model.predict(X_test)

In [368]:
print(y_predict)

[[ 0.05713705]
 [-0.01217546]
 [ 0.03573955]
 ...
 [ 0.05584715]
 [-0.02578628]
 [ 0.1059306 ]]

In [364]:
y_predict[0]

array([0.05713705], dtype=float32)

In [354]:
np.argmax(y_predict[0])

0

# Step 7
Print the Accuracy score and confusion matrix.

In [341]:
from sklearn import metrics

In [365]:
y_pred = []
for val in y_predict:
    y_pred.append(np.argmax(val))
cm = metrics.confusion_matrix(y_test,y_pred)
print(cm)

[[2416    0]
 [ 584    0]]

In [366]:
cr=metrics.classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.81      1.00      0.89      2416
           1       0.00      0.00      0.00       584

    accuracy                           0.81      3000
   macro avg       0.40      0.50      0.45      3000
weighted avg       0.65      0.81      0.72      3000